<!DOCTYPE HTML>
{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}
{{ANS}}

<form class="form-inline" align="center" role="form" method="post" action="/portal/editted_prob/">
	{% csrf_token %}
	<div class="form-group">
    <input type="hidden" name="pid" value="{{E.problem_id}}">
  </div><br>
  <div class="form-group">
    <label for="ptitle">Problem Title</label>
    <input type="text" class="form-control" id="ptitle" name="ptitle" value="{{E.problem_title}}">
  </div><br>
 
  <div class="form-group">
    <label for="pdes">Problem description</label>
    <textarea class="form-control" rows="5" id="pdes" name="pdes" >{{E.problem_description}}</textarea>
  </div><br>
  <div class="form-group">
    <label for="ptest">Test cases</label>
    <textarea class="form-control" rows="5" id="ptest" name="ptest" >{{E.test_cases}}</textarea>
  </div><br>
  <div class="form-group">
    <label for="psource">Source code</label>
    <textarea class="form-control" rows="10" id="psource" name="psource" >{{E.answer_source}}</textarea>
  </div><br>
  <div class="form-group">
    <label for="eo">Expected Output</label>
    <input type="text" class="form-control" id="eo" name="eo" value="{{E.expected_output}}">
  </div><br>
  
  <button type="submit" class="btn btn-default">Edit</button>
</form>

{% endblock %}