<!DOCTYPE HTML>
{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}


<form role="form" method="post" action="/portal/editted_prob/">
	{% csrf_token %}
	<div class="form-group col-lg-4">
    <input type="hidden" name="pid" value="{{E.problem_id}}">
  <br>
  
    <label for="ptitle">Problem Title</label>
    <input type="text" class="form-control" id="ptitle" name="ptitle" value="{{E.problem_title}}" required>
  <br>
 
 <label for="pdes"required>Problem Description</label>
{% load wysiwyg %}
{% wysiwyg_setup %}

<textarea name="pdes" id="pdes"required>{{E.problem_description}}</textarea>

{% wysiwyg_editor "pdes" %}
  <!--
    <label for="pdes">Problem description</label>
    <textarea class="form-control" rows="5" id="pdes" name="pdes" >{{E.problem_description}}</textarea>
  <br>
-->
<br>

    <label for="ptest">Test cases</label>
    <textarea class="form-control" rows="5" id="ptest" name="ptest" required >{{E.test_cases}}</textarea>
  <br>
  
    <label for="psource">Source code</label>
    <textarea class="form-control" rows="10" id="psource" name="psource"required >{{E.answer_source}}</textarea>
  <br>
  <label><input type="radio" name="submit_lang" value="c" required > &nbsp;C &nbsp;</label>
<label><input type="radio" name="submit_lang" value="cpp" required >&nbsp;C++&nbsp;</label>
<br>
    <label for="eo">Expected Output</label><br>
    {{E.expected_output}}
  <br>
  <br>
  
  <button type="submit" class="btn btn-primary">Edit</button>
  </div>
</form>


{% endblock %}