<!DOCTYPE HTML>
{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}

<html>
    <head>
        <title> Home </title>
    </head>
<body>
        

<h1>&nbsp;&nbsp;Programming Assignment Grader</h1>

<p>&nbsp;&nbsp;A web-application that is designed to evaluate programming assignments in educational institutions and to provide instant feedback to the instructors of the course as well as the students. Students can choose to write the code for the assignment problems in either C or C++. </p>

<h3>&nbsp;&nbsp;Motivation</h3>

<p> &nbsp;&nbsp; Evaluating programming assignments is a time-consuming process. With assignmentGrader we are trying to reduce the overhead complexity of manually evaluating code submissions. All the code   &nbsp;&nbsp;submisions will be automatically compiled, executed and graded based on predefined test cases made by the instructors of the course.

</p>


        
  
    </body>
    {% endblock %}
</html>

