<!DOCTYPE html>

{% extends 'base.html' %}
{% block content %}
<html>
    <head>
        <title> Programming Assignment Grader </title>
    </head>
    <body>
        <h3>&nbsp;&nbsp;Registration form </h3>

        {% if registered %}
        <strong> Account has been registered successfully. Thanks! </strong>
        <a href="/home/"> Return to the homepage. </a> <br />
        {% else %}


<body>
<form role="form" method="post" action="../register/">

{% csrf_token %}
    <div class="form-group col-lg-6">
      <label for="username">Username </label>
      <input type="text" class="form-control" id="username" name="username" placeholder="Enter username">
      <br>
    
      <label for="First name">First name </label>
      <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Enter first name">
    <br>
      <label for="Last name">Last name </label>
      <input type="text" class="form-control" id="fast_name" name="last_name" placeholder="Enter last name">
    <br>
      <label for="Email address">Email address  </label>
      <input type="text" class="form-control" id="Email" name="email" placeholder="Enter email address">
    <br>
      <label for="pwd">Password </label>
      <input type="password" class="form-control" id="pwd" name="password" placeholder="Enter password">
    <br>
      <label for="pwd">Enter secret code for staff access (only for staff)</label>
      <input type="password" class="form-control" id="pwd" name="secret_code" placeholder="Enter secret code for staff access">
    <br>
    <br>
    <button type="submit" class="btn btn-primary">Register</button><br><br>
  </div>

                  
</form>
        
    {% endif %}
</body>
{% endblock %}
</html>