<!DOCTYPE html>

{% extends 'base.html' %}
{% block content %}
<html>
    <head>
        <title> Programming Assignment Grader </title>
    </head>
    <body>
        <h1> Registration form </h1>

        {% if registered %}
        <strong> Account has been registered successfully. Thanks! </strong>
        <a href="/home/"> Return to the homepage. </a> <br />
        {% else %}


<body>
<form class="form-inline" role="form" align="center" method="post" action="../register/">

{% csrf_token %}
    <div class="form-group">
      <label for="username">Username &nbsp;&nbsp;&nbsp</label>
      <input type="text" class="form-control" id="username" name="username" placeholder="Enter username">
    </div><br><br>
  <div class="form-group">
      <label for="First name">First name &nbsp;&nbsp;&nbsp</label>
      <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Enter first name">
    </div><br><br>
  <div class="form-group">
      <label for="Last name">Last name &nbsp;&nbsp;&nbsp;&nbsp</label>
      <input type="text" class="form-control" id="fast_name" name="last_name" placeholder="Enter last name">
    </div><br><br>
  <div class="form-group">
      <label for="Email address">Email address  </label>
      <input type="text" class="form-control" id="Email" name="email" placeholder="Enter email address">
    </div><br><br>
    <div class="form-group">
      <label for="pwd">Password &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
      <input type="password" class="form-control" id="pwd" name="password" placeholder="Enter password">
    </div><br><br>
    <div class="form-group">
      <label for="pwd">Enter secret code for staff access (only for staff)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
      <input type="password" class="form-control" id="pwd" name="secret_code" placeholder="Enter secret code for staff access">
    </div><br><br>
    
    <button type="submit" class="btn btn-default">Register</button><br><br>
  

                  
</form>
        
    {% endif %}
</body>
{% endblock %}
</html>