<!DOCTYPE HTML>
{% extends 'base.html' %}
{% block content %}
<div class="container">
<h4>To do work</h4>   
  <table class="table">
    <thead>
      <tr>
        <th>Problem ID</th>
        <th>Problem title</th>
        <th>Status</th>
	<th><span class="glyphicon glyphicon-lock"></th>
      </tr>
      
      
       {% for i in P %}
        <tr>
        <td> <a href="/problem/{{ i.problem_id }}">{{i.problem_id}}</a></td>
        <td> {{i.problem_title}} </td>
        </tr>
        {% endfor %}

    </thead>
  </table>
  
</div>
{% endblock %}
</html>