<!DOCTYPE HTML>
{% extends 'base.html' %}
{% block content %}
<div class="form-group col-lg-5">
<h3> This is your result for {{TITLE}}</h3> 
<hr style="height:1px;background-color:#3366ff;"></hr>
<div class="row">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-12">
        <div class="well">
          <h4 class="text-primary"><span class="label label-primary pull-left">&nbsp;&nbsp;{{SRC.submit_id}}&nbsp;&nbsp;</span>&nbsp;&nbsp;&nbsp;&nbsp; {{VERDICT}} </h4>
          You have scored <em>{{SCORE}}</em> points.
        </div>
      </div>
    </div><!--/row-->    
  </div><!--/col-12-->
</div><!--/row-->
<hr style="height:1px;background-color:#3366ff;"></hr>
</div>

{% endblock %}